[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=simple
ExecStart=/usr/bin/emacs --fg-daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"

Environment=LC_ALL=ja_JP.UTF-8
Environment=XMODIFIERS=@im=fcitx
Environment=GTK_IM_MODULE=fcitx
Environment=QT_IM_MODULE=fcitx
Environment=SSH_AUTH_SOCK=%t/keyring/ssh

Restart=on-failure
TimeoutSec=2

[Install]
WantedBy=default.target
