[Unit]
Description=xkeysnail!

[Service]
ExecStart=/usr/local/bin/xkeysnail -q %h/dotfile/xkeysnail-conf.py
ExecStartPre=/usr/bin/xhost +SI:localuser:root
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=basic.target
