[user]
   name =
   email =
[color]
    ui = true
	diff = auto
	status = auto
	branch = auto
[alias]
	ch = checkout
	ci = commit
	br = branch
	st = status
	s = status -s -b
	hint = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	l   = log --abbrev-commit --date=iso --graph --pretty=format:'%C(red)%h %C(yellow)%d%C(green)%cd %C(blue)%cn\n%C(reset)%s\n'
[core]
    excludesfile = ~/.gitignore
	pager = less -r
[mergetool.ediff]
    cmd = emacsclient -c --eval \" (progn (defun ediff-write-merge-buffer () (let ((file ediff-merge-store-file)) (set-buffer ediff-buffer-C) (write-region (point-min) (point-max) file) (message \\\"Merge buffer saved in: %s\\\" file) (set-buffer-modified-p nil) (sit-for 1))) (setq ediff-quit-hook 'kill-emacs ediff-quit-merge-hook 'ediff-write-merge-buffer) (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\"))\" 
[merge]
	tool = ediff
[ghq]
    root = ~/.ghq
    root = ~/.go/src
[push]
	default = simple