ac-comphist.dat
auto-save-list
inits/*.elc
.cask
session.*
url/
.org-id-locations
eshell/
recentf
semanticdb/
bookmarks
bm-repository
bookmarks
request
kkcrc
.python-environments
history
saved-places
elpa
projectile-bookmarks.eld
el-get
smex-items
.mc-lists.el
tutorial/
